layout python

req_digest=$(md5sum requirements.txt | cut -d '' -f 1)
digest_file="$DIRENV_DIR/python-requirements-$req_digest"

if [ ! -f "$digest_file" ]; then
    pip install -r requirements.txt
    touch "$digest_file"
fi
