# Ignorar todos os arquivos que começam com um ponto, exceto aqueles que já
# estão sob controle de versão.
.*
!.editorconfig
!.envrc
!.github
!.gitignore
!.python-version

# Arquivos gerados pelo Quarto.
_*
index-preview.html
site_libs
*.aux
*.log
*.tex
*.pdf

# Adicionado automaticamente.
.Rproj.user
/env/
/.quarto/
**/*.quarto_ipynb
